#home_bg {
    background-color: rgba($color: #000000, $alpha: 0.7);
}

#home_main {

    background-image: url(https://cdn.openart.ai/stable_diffusion/63ca6816a54d849b565e5bc4b4d0d86ac68aad4a_2000x2000.webp);
    background-size: cover;
    background-position: center top;

}