@import "./partials/_variables.scss";
@import "./nav.scss";
@import "./main.scss";

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: blue;
}

.table th,
.table td {
    background-color: transparent;
    border-color: #6c757d;
}

#app {
    min-height: 100vh;
}