@import "./partials/_variables.scss";
@import "./nav.scss";
@import "./main.scss";

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: blue;
}

.table th,
.table td {
    background-color: transparent;
    border-color: #6c757d;
}

#app {
    min-height: 100vh;
}

.my-btn-edit {
    background-color: var(--brand-red);
    color: white;
}

.my-btn-edit:hover {
    background-color: #6c757d67;
}

* {
    cursor: url(/resources/img/icons8-stone-arrowhead-25.png), auto;
}

#character_profile {
    background-image: url(https://cdn.openart.ai/stable_diffusion/63ca6816a54d849b565e5bc4b4d0d86ac68aad4a_2000x2000.webp);
    background-size: cover;
    background-position: center top;
}

/*  {
    background-image: url(https://static.vecteezy.com/system/resources/previews/015/080/732/original/old-brown-parchment-transparent-png.png);
    background-size: cover;
    background-position: top;
} */

#character_card,
#character_portrait {
    background-color: rgba($color: #000000, $alpha: 0.7);
}